<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>✳️NEWSLETTER_TITLE✳️</title>
  </head>
  <body
    style="
      background-color: #ffffff;
      margin: 0 !important;
      padding: 0 !important;
      font-family: Arial, sans-serif;
      font-size: 18px;
      line-height: 1.5;
      color: #333333;
    "
  >
    <div
      style="
        display: none;
        font-size: 1px;
        color: #fefefe;
        line-height: 1px;
        font-family: Arial, sans-serif;
        max-height: 0px;
        max-width: 0px;
        opacity: 0;
        overflow: hidden;
      "
    >
      ✳️NEWSLETTER_TITLE✳️ - Your newsletter has arrived!
    </div>
    <!-- START CENTERED CONTAINER -->
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
      style="max-width: 600px"
      align="center"
    >
      <tr>
        <td align="center" valign="top">
          <!-- MARGIN WRAPPER -->
          <table
            border="0"
            cellpadding="4"
            cellspacing="0"
            width="100%"
            style="max-width: 600px"
          >
            <tr>
              <td>
                <!-- START MAIN CONTENT AREA -->
                <table
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  style="background-color: #fffff5; border: 1px solid #333333"
                >
                  <!-- START HEADER AREA -->
                  <tr>
                    <td
                      align="center"
                      valign="middle"
                      style="padding: 20px; border-bottom: 1px solid #333333"
                    >
                      <table
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="100%"
                      >
                        <tr>
                          <td width="50%" align="left" valign="middle">
                            <a
                              href="https://www.koiibenvenutto.com/"
                              target="_blank"
                            >
                              <img
                                src="https://cdn.prod.website-files.com/66bfca27c52b542e8bae67c3/6704c9a84b9aa737d0db1ab0_KOii_dark.png"
                                alt="KOii Logo"
                                style="
                                  display: block;
                                  height: 24px;
                                  width: auto;
                                "
                              />
                            </a>
                          </td>
                          <td width="50%" align="right" valign="middle">
                            <span
                              style="
                                color: #333333;
                                font-size: 32px;
                                line-height: 32px;
                                display: inline-block;
                              "
                              >☁️🌻🤲</span
                            >
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <!-- END HEADER AREA -->
                  <!-- START HEADER IMAGE AREA -->
                  <tr>
                    <td
                      align="center"
                      valign="top"
                      style="padding: 20px 20px 0 20px"
                    >
                      <img
                        src="✳️HEADER_IMAGE✳️"
                        alt="Header Image"
                        style="
                          max-width: 100%;
                          height: auto;
                          display: block;
                          margin: 0 auto;
                          border-radius: 1rem;
                          border: 1px solid #333333;
                        "
                      />
                    </td>
                  </tr>
                  <!-- END HEADER IMAGE AREA -->
                  <!-- START READ ON WEBSITE LINK -->
                  <tr>
                    <td
                      align="right"
                      valign="top"
                      style="
                        padding: 8px 20px 0 20px;
                        font-family: Arial, sans-serif;
                      "
                    >
                      <p
                        style="
                          font-family: Arial, sans-serif;
                          font-size: 14px;
                          line-height: 1.5;
                          color: #333333;
                          margin: 0;
                        "
                      >
                        <a
                          href="✳️POST_LINK✳️"
                          target="_blank"
                          style="color: #03305c; text-decoration: none;"
                          >Read on website</a
                        >
                      </p>
                    </td>
                  </tr>
                  <!-- END READ ON WEBSITE LINK -->
                  <!-- START TITLE AND SUBTITLE -->
                  <tr>
                    <td
                      align="center"
                      valign="top"
                      style="
                        padding: 20px 20px 0 20px;
                        font-family: Arial, sans-serif;
                      "
                    >
                      <h1
                        style="
                          margin: 0 0 16px 0;
                          font-size: 32px;
                          line-height: 1.3;
                          color: #1b1b1b;
                          font-weight: normal;
                          font-family: Arial, sans-serif;
                        "
                      >
                        ✳️NEWSLETTER_TITLE✳️
                      </h1>
                      ✳️SUBTITLE_PLACEHOLDER✳️
                    </td>
                  </tr>
                  <!-- END TITLE AND SUBTITLE -->
                  <tr>
                    <td
                      align="left"
                      valign="top"
                      style="
                        padding: 20px;
                        font-family: Arial, sans-serif;
                        font-size: 18px;
                        line-height: 1.5;
                        color: #333333;
                      "
                    >
                      ✳️NEWSLETTER_CONTENT✳️
                    </td>
                  </tr>
                  <!-- START FOOTER AREA -->
                  <tr>
                    <td
                      align="center"
                      valign="top"
                      style="
                        padding: 0 20px 20px 20px;
                        font-family: Arial, sans-serif;
                      "
                    >
                      <p
                        style="
                          font-family: Arial, sans-serif;
                          font-size: 14px;
                          line-height: 1.5;
                          color: #333333;
                          margin: 0;
                        "
                      >
                        Forwarded this email?
                        <a
                          href="https://www.koiibenvenutto.com/"
                          target="_blank"
                          style="color: #03305c; text-decoration: none;"
                          >Subscribe here</a
                        >
                      </p>
                    </td>
                  </tr>
                  <!-- END FOOTER AREA -->
                  <!-- END MAIN CONTENT AREA -->
                </table>
              </td>
            </tr>
          </table>
          <!-- END MARGIN WRAPPER -->
        </td>
      </tr>
    </table>
    <!-- END CENTERED CONTAINER -->
  </body>
</html>
